html, body, a, div, button {
    font-family: 'Kanit', sans-serif;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hidden {
    display: none;
}

button[type=restart] {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: none;
        background-color: #dc3545;
        color: whitesmoke;
        font-size: 20px;
        border-radius: 25px;
    }

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: #333;
    }

    button[type=button] {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: none;
        background-color: #333;
        color: white;
        font-size: 20px;
        border-radius: 25px;
    }

    button[type=submit] {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: none;
        background-color: #198754;
        color: white;
        font-size: 20px;
        border-radius: 25px;
    }
    .food-hover {
        color: #198754;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: white;
    }
    button[type=button] {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: none;
        background-color: aliceblue;
        color: #333;
        font-size: 20px;
        border-radius: 25px;
    }
    button[type=submit] {
        padding: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border: none;
        background-color: #198754;
        color: white;
        font-size: 20px;
        border-radius: 25px;
    }
    .food-hover {
        color: #24C57A;
    }
}